input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 4px;
}

input[type=submit] {
    background-color: aqua;
    color: blue;
    padding: 16px 32px;
}

